<%- include('../partials/header') %>

<style>
    .myContainer {
        border-radius: 50px;

        padding-top: 5%;
        padding-bottom: 5%;
        margin-bottom: 30px;
        color: inherit;
        background-color: #eee;

        width: 95%;
    }

    .myTable {
        border: 1px solid black;
        /* table-layout: fixed; */

        /* width: 100%; */
    }

    .myTable tbody tr td {
        border: 1px solid black;
    }

    .myTable thead tr td {
        border: 1px solid black;
    }

    .table-nonfluid {
        width: auto !important;
    }

    .alignCenterHoriz {
        text-align: center;
        background: rgb(200, 200, 200);
    }

    .hide-opacity {
        opacity: 0;
    }

    .singleReq {
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
    }
</style>

<div class="container myContainer">
    <h1><u>Process custom avatars:</u></h1>
    Hi mods! Thanks for taking your time on helping the site with these custom avatars :).

    <br>
    Here is the list of rules for reference:

    <%- include('../partials/customAvatarRules', MAX_FILESIZE_STR, VALID_DIMENSIONS_STR) %>

    <br>
    <br>

    <% if(locals.customAvatarRequests){ %>

        <% customAvatarRequests.forEach(function(avreq){ %>

            <div class="panel panel-default rootRequest singleReq" reqId="<%= avreq.id %>">
                <div class="panel-heading"><h2>For user: <%= avreq.forUsername %></h2></div>
                <div class="panel-body">


                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-success">
                                <div class="panel-heading">Res img:</div>
                                <div class="panel-body alignCenterHoriz">
                                    <img class="avatarImg" src=<%= avreq.resLink %>>
                                    <div class="imgdimensions">Loading</div>
                                    <div class="link"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-danger">
                                <div class="panel-heading">Spy img:</div>
                                <div class="panel-body alignCenterHoriz">
                                    <img class="avatarImg" src=<%= avreq.spyLink %>>
                                    <div class="imgdimensions">Loading</div>
                                    <div class="link"></div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Message from requester:
                        </div>
                        <div class="panel-body">
                            <%= avreq.msgToMod %>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-body">
                            <label for="comment">Comment: (users will see this in their notifications)</label><br>
                            <input type="text" name="comment" class="comment" style="width: 100%">
                        </div>
                    </div>


                    <div class="row" style="width: 100%">
                        <a type="button" class="btn btn-success approve"
                           style="position: relative; left: 25%; transform: translateX(-50%);">Approve</a>
                        <a type="button" class="btn btn-danger reject"
                           style="position: absolute; left: 73%; transform: translateX(-50%);">Reject</a>
                    </div>


                </div>
            </div>

        <% }); %>

    <% } %>

    <% if(customAvatarRequests.length === 0){ %>
        <div class="well">No requests!</div>
    <% } %>

    <script>
      $(document).ready(function() {
        $('.avatarImg').each(function (index, element) {
           let img = new Image();
           img.src = $(element).attr('src');
           img.onload = () => {
               $(element).siblings('.imgdimensions').text(img.width + 'x' + img.height + ' px');
               $(element).siblings('.link').text(img.src);
               $(element).replaceWith(img);
           }
        });

        $('.approve').on('click', function(e) {
          var id = $(e.target).closest('.rootRequest').attr('reqid');
          var comment = $(e.target).closest('.rootRequest').find('.comment')[0].value;

          processAvatarRequest(true, id, comment);

          $(e.target).closest('.rootRequest').addClass('hide-opacity');
        });


        $('.reject').on('click', function(e) {
          var id = $(e.target).closest('.rootRequest').attr('reqid');
          var comment = $(e.target).closest('.rootRequest').find('.comment')[0].value;

          processAvatarRequest(false, id, comment);

          $(e.target).closest('.rootRequest').addClass('hide-opacity');
        });
      });


      function processAvatarRequest(decision, avatarreqid, comment) {
          Swal.fire({
              title: 'Sending your request...',
              onOpen: () => {
                  Swal.showLoading();
                  axios({
                      method: 'POST',
                      url: '/profile/mod/ajax/processavatarrequest',
                      data: {
                          decision: decision,
                          avatarreqid: avatarreqid,
                          modcomment: comment,
                      },
                  })
                      .then(function (response) {
                          //handle success
                          Swal.close();
                          Swal.fire({
                              title: response.data,
                              type: 'success',
                          });
                      })
                      .catch(function (err) {
                          console.log(err)
                          Swal.close();
                          Swal.fire({
                              title: err.response.data,
                              type: 'error',
                          });
                      });
              },
          })
      }
    </script>
</div>

<br>

<%- include('../partials/footer') %>
