<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="../stylesheets/profile.css">
<link rel="stylesheet" type="text/css" href="../libraries/flag-icon-css-master/css/flag-icon.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<div class="container myContainer">
    <div class="row">
        <div class="searchBar pull-right" >
            <input id="searchInput" type="text" placeholder="Search a username..." name="search">
            <button id="searchButton"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    <br>

    <% if (userData && userData.username) { %>
        <script src="/scripts/profile.js"></script>

        <div class="row">
            <div class="col-xs-12" id="topRow">
                <div class="row">
                    <div class="col-xs-6 col-md-3 avatarImgDiv">
                        <% if (userData.avatarImgRes) { %>
                            <% if (userData.avatarImgRes.includes("http")) { %>
                                <img class="avatarImg" src=<%= userData.avatarImgRes %>>
                            <% } else {%>
                                <img class="avatarImg" src=<%= "../avatars/" + userData.avatarImgRes %> >
                            <% } %>
                        <% } else { %>
                            <img class="avatarImg" src="../avatars/base-res.png  " >
                        <% } %>
                    </div>
                    <div class="col-xs-6 col-md-9">
                        <span id="title">
                            <h2>
                                <% if (userData.nationality && userData.nationCode) { %>
                                    <span id="flagSpan" class="flag-icon flag-icon-<%=userData.nationCode.toLowerCase()%>" data-toggle="tooltip" title="<%=userData.nationality%>"></span>
                                <% } else { %>
                                    <span id="flagSpan" class="flag-icon flag-icon-un" data-toggle="tooltip" title="United Nations"></span>
                                <% } %> 
                                <span id="profileUsername"><%=userData.username %> </span>
                            </h2>  
                            <p>Date joined:
                                <% if (userData.dateJoined) { %>
                                    <%= userData.dateJoined.toDateString() %> 
                                <% } else { %> 
                                    N/A
                                <% } %></p>
                            <p>
                                <% if (userData.username.replace(" ", "") === personViewingUsername.replace(" ", "")) { %>
                                    <a href="<%=userData.username%>/edit" class="btn btn-default">Edit</a>
                                <% } %>
                            </p>
                        </span>
                        
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="biography">
                    <%-userData.biography %>
                </div>
            </div>
        </div>

        <% if (userData.hideStats) { %>
            <div class="row">
                <div class="col-sm-12">
                        <h3 class="text-danger">User has decided to hide his stats.</h3>
                </div>
            </div>
        <% } else { %>
            <div class="row" >
                <div class="col-xs-12 col-md-4">
                    <h2><u>Stats:</u></h2>  
    
                    <table class="table myTable">
                        <tbody>
                            <tr>
                                <td class="statsCol1">Total games played: </td>
                                <td class="statsCol2"> <%= userData.totalGamesPlayed %> </td>
                            </tr>
                            <tr>
                                <td class="statsCol1">Total games won: </td>
                                <td class="statsCol2"> <%= userData.totalWins %> </td>
                            </tr>
                            <tr>
                                <td class="statsCol1">Total games lost: </td>
                                <td class="statsCol2"> <%= userData.totalLosses %> </td>
                            </tr>
                            <tr>
                                <td class="statsCol1">Total win rate: </td>
                                <td class="statsCol2"> <%= Math.floor((userData.totalWins / (userData.totalWins + userData.totalLosses))*100) %>% </td>
                            </tr>
                            <tr>
                                <td class="statsCol1">Total time played: </td>
                                <td class="statsCol2"> <%=Math.floor(userData.totalTimePlayed.getTime()/(1000*60*60))%> hrs</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
                <div class="col-xs-12 col-md-8">
                    <canvas id="statsChart"></canvas>
                </div>
            </div>
        <% } %> 
    <% } else { %>
    
        <h1><span id="username"></span> was not found!</h1>

        <script>
            let lastBit = window.location.href.substr(window.location.href.lastIndexOf('/') + 1);
            console.log(lastBit);
            $("#username")[0].innerText = lastBit;
        </script>

    <% } %>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script>

$("#searchInput").on("keydown", function (e) {
    // console.log(e.keyCode);

    if (e.keyCode === 13) {
        console.log($("#searchInput")[0].value);

        //redirect to the correct path.
        window.location.replace("" + $("#searchInput")[0].value);
    }
});

$("#searchButton").on("click", function (e) {
    console.log($("#searchInput")[0].value);

    //redirect to the correct path.
    window.location.replace("" + $("#searchInput")[0].value);
});

</script>

<% include ../partials/footer %>
