<% include partials/header %>

<style>
    .myContainer {
        border-radius: 50px;

        padding-top: 5%;
        padding-bottom: 5%;
        margin-bottom: 30px;
        color: inherit;
        background-color: #eee;
        
        width:95%;
    }

    .myTable {
    	width: 100%;
    }

    .myTable td, th{
        border-bottom: 1px solid #ddd;
        /* table-layout: fixed; */

        /* width: 100%; */
    }

    .myTable th{
        height: 30px;
    }

    .myTable tr:hover {
    	background-color:#f5f5f5;
    }

    h3 {
    	padding-bottom: 50px;
    }

    img {
    	height:50px;
    	width:50px;
    }
</style>

<div class="container">
	<div class="jumbotron">
		<h3 class="uppercase">View our players from all over the world</h3>
		<div class="row">
			<table class="myTable">
				<tr>
					<th>Username</th>
					<th>Res Avatar</th>
					<th>Spy Avatar</th>
					<th>Nationality</th>
					<th>Biography</th>
				</tr>
				<% users.forEach(function(user){ %>
				<tr>
					<td><%= user.username %></td>
					<td><img src="<%= user.avatarImgRes %>"></td>
					<td><img src="<%= user.avatarImgSpy %>"></td>
					<td><%= user.nationality %></td>
					<td><%= user.biography.slice(3,user.biography.length-4) %></td>
				</tr>
				<% }); %>
			</table>
		</div>
	</div>
</div>


<% include partials/footer %>