<% include partials/header%>

<script src="/socket.io/socket.io.js"></script>
<script src="/libraries/cookies_min.js"></script>
<script src="/libraries/jscolor.js"></script>

<link rel="stylesheet" type="text/css" href="<%-getVersionedPath('/stylesheets/lobby.css')%>">
<link rel="stylesheet" type="text/css" href="<%-getVersionedPath('/libraries/jquery-ui-1.12.1/jquery-ui.min.css')%>">

<script src="<%-getVersionedPath('/libraries/linkify.min.js')%>"></script>
<script src="<%-getVersionedPath('/libraries/linkify-html.min.js')%>"></script>



<!-- <div class="container lobby-container"> -->
	<div class="container lobby-container">
		<div class="row">
			<div class="col-xs-6 col-sm-9" id="col1">
				<strong><p id="all-chat-lobby-text">All Chat</p></strong>
				<div class="chat-window" id="all-chat-lobby">
					<ol class="chat-list all-chat-list" id="all-chat-lobby-list">

					</ol>
				</div>
				<p id="all-chat-lobby-bar" class="hidden chat-bar"></p>

				<input type="text" class="chat-message-input all-chat-message-input">
			</div>

			<div class="col-xs-6 col-sm-3" id="col2">
				<!-- <br> -->
				<strong><p>Games:</p></strong>

				<a id="newRoom" class="btn btn-default" href="#">New Room</a>

				<br>
				<br>

				<table id="current-games-table" class="table table-bordered table-striped lobby-table">	
					<tbody>

					</tbody>
				</table>

				<br>
				<p><strong>Online players (<span class="player-count"></span>):</strong></p>

				<table id="current-players-table" class="table table-bordered table-striped lobby-table">	
					<tbody>

					</tbody>
				</table>
			</div>
		</div>
	</div>



	<div class="game-container inactive-window "> <!-- container -->
		<div id="div1Resize">
			<div class="room-container">
				<button id="backButton" class="btn btn-warning">Back</button>

				<button id="claimButton" class="disabled btn btn-primary">Claim</button>

				<div class="gameInfoMaxPlayers badge">
					8/9
				</div>


				<div id="mainRoomBox" class="">
					<p></p>
				</div>
				<div id="missionsBox" class="invisible">
					<div class="row">
						<div class="missionBox" id="missionBox0"></div>
						<div class="missionBox" id="missionBox1"></div>
						<div class="missionBox" id="missionBox2"></div>
						<div class="missionBox" id="missionBox3"></div>
						<div class="missionBox" id="missionBox4"></div>
					</div>

					<div class="row">
						<div class="pickBox" id="pickBox0"></div>
						<div class="pickBox" id="pickBox1"></div>
						<div class="pickBox" id="pickBox2"></div>
						<div class="pickBox" id="pickBox3"></div>
						<div class="pickBox" id="pickBox4"></div>
					</div>
				</div>

				<span class='gun gunBefore'><img class="gunImg" src="pictures/gun.png"></span>
				<span class='gun gunBefore'><img class="gunImg" src="pictures/gun.png"></span>
				<span class='gun gunBefore'><img class="gunImg" src="pictures/gun.png"></span>
				<span class='gun gunBefore'><img class="gunImg" src="pictures/gun.png"></span>
				<span class='gun gunBefore'><img class="gunImg" src="pictures/gun.png"></span>

			</div>
		</div>
		<div id="div2Resize">
			

		<div class="myHr"></div>
			


			<div id="statusBarWell" class="center-div well well-sm">

				<span id="status" style="    line-height: 35px;">Waiting for game to start... :P</span>

				<span class="game-buttons-div" style="white-space:nowrap;">

					<button class="btn btn-success" id="green-button">Start!</button>

					<!-- Trigger the modal with a button -->
					<button type="button" class="btn btn-default hidden" data-toggle="modal" data-target="#roleOptionsModal" id="options-button">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</button>

					<button class="btn btn-danger" id="red-button"> <span class="glyphicon glyphicon-remove"></span></button>
				</span>


			</div>

			
			<div id="tabContainerBig">
				<div id="tabs1" class="">
					<ul class="nav nav-tabs">
						<li id="all-chat-in-game-tab"><a data-toggle="tab" href="#all-chat-in-game">All Chat</a></li>
						<li class="active" id="room-chat-in-game-tab"><a data-toggle="tab" href="#room-chat-in-game">Game Chat</a></li>
						<li><a data-toggle="tab" href="#vh">Vote History</a></li>
						<li><a data-toggle="tab" href="#misc">Misc.</a></li>
					</ul>

					<div class="tab-content" style=''>
						<div id="all-chat-in-game" class="tab-pane fade full-height">
							<div class="chat-window" id="all-chat-room">
								<ol class="chat-list all-chat-list" id="all-chat-room-list">

								</ol>
							</div>
							<p id="all-chat-room-bar" class="hidden chat-bar"></p>

							<input type="text" class="chat-message-input all-chat-message-input">
						</div>


						<div id="room-chat-in-game" class="tab-pane fade in active full-height">
							<div class="chat-window" id="room-chat-room">
								<ol class="chat-list room-chat-list" id="room-chat-room-list">

								</ol>
							</div>

							<p id="room-chat-room-bar" class="hidden chat-bar"></p>
							<input type="text" class="room-chat-message-input chat-message-input">

						</div>

						<div id="vh" class="tab-pane fade in full-height">
							<div class="tab-window-full-bottom">
								<!-- <h3><u>Vote History</u></h3> -->
								<table>
									<tbody id="voteHistoryTable" class="voteHistoryTableClass">

									</tbody>
								</table>
                                <br>

                                <span class="cardHistoryClass">
                                
                                </span>

                                <br>
								<ul>
									<table>
										<tbody id="voteHistoryTable">
											<tr><td class="VHleader"></td><td>Leader</td></tr>
											<tr><td><i class="glyphicon glyphicon-ok glyphicon-dark-white"></i></td><td>On mission team</td></tr>
											<tr><td><i class="glyphicon glyphicon-question-sign glyphicon-dark-white"></i></td><td>Investigator</td></tr>
											<tr><td><i class="glyphicon glyphicon-wrench glyphicon-dark-white"></i></td><td>Excalibur</td></tr>
											<tr><td><i class="glyphicon glyphicon-resize-horizontal glyphicon-dark-white"></i></td><td>Excalibured</td></tr>
											<tr><td class="VHapprove"></td><td>Approved vote</td></tr>
											<tr><td class="VHreject"></td><td>Rejected vote</td></tr>
										</tbody>
									</table>
								</ul>
							</div>
						</div>

						<div id="misc" class="tab-pane fade in full-height">
							<div class="tab-window-full-bottom">

								<label>Mute spectators <input type="checkbox" class="muteSpecs"></label>
								<br>
								<label>Mute join/leave messages <input type="checkbox" class="mutejoinleave"></label>
								<hr>
								<label>Set all highlight colors to yellow <input type="checkbox" class="setHighlightColorsToYellow"></label>

								<br>
								<br>
								
							
								<button id="playerHighlightColourButton">Click to change highlight colour</button>
								<script>
									$("#playerHighlightColourButton").on("click", function(){
										$("#playerHighlightColourBoxes").toggleClass("hidden");
									});
								</script>
								
								<span id="playerHighlightColourBoxes" class="hidden">
									<h5>0 starts at the top, and increases anti-clockwise.</h5>

									Player 0: <button id="player0HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'0'}" style="width:20px; height:20px;"></button>
									<br>
									Player 1: <button id="player1HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'1'}" style="width:20px; height:20px;"></button>
									<br>
									Player 2: <button id="player2HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'2'}" style="width:20px; height:20px;"></button>
									<br>
									Player 3: <button id="player3HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'3'}" style="width:20px; height:20px;"></button>
									<br>
									Player 4: <button id="player4HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'4'}" style="width:20px; height:20px;"></button>
									<br>
									Player 5: <button id="player5HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'5'}" style="width:20px; height:20px;"></button>
									<br>
									Player 6: <button id="player6HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'6'}" style="width:20px; height:20px;"></button>
									<br>
									Player 7: <button id="player7HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'7'}" style="width:20px; height:20px;"></button>
									<br>
									Player 8: <button id="player8HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'8'}" style="width:20px; height:20px;"></button>
									<br>
									Player 9: <button id="player9HighlightColour" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'9'}" style="width:20px; height:20px;"></button>
								</span>
								<br>
								<br>
								<button id="removeHighlight" onclick="unhighlightAllChat()">Unhighlight all chat</button>
								<br>
								<br>
								
								<br>
								
								<strong><p>Spectators:</p></strong>

								<table id="spectators-table" class="table table-bordered table-striped lobby-table">	
									<tbody>

									</tbody>
								</table>

								<p><strong>Online players (<span class="player-count"></span>):</strong></p>
								<table id="current-players-table" class="table table-bordered table-striped lobby-table">	
									<tbody>

									</tbody>
								</table>
							
							</div>

						</div>
						
					</div>
				</div>



				<div id="tabs2" class="col-xs-6 displayNoneClass">
					<ul class="nav nav-tabs">
						<li id="all-chat-in-game-tab"><a data-toggle="tab" href="#all-chat-in-game2">All Chat</a></li>
						<li id="room-chat-in-game-tab"><a data-toggle="tab" href="#room-chat-in-game2">Game Chat</a></li>
						<li><a data-toggle="tab" href="#vh2">Vote History</a></li>
						<li class="active"><a data-toggle="tab" href="#misc2">Misc.</a></li>
					</ul>

					<div class="tab-content" style=''>
						<div id="all-chat-in-game2" class="tab-pane fade full-height">
							<div class="chat-window" id="all-chat-room2">
								<ol class="chat-list all-chat-list" id="all-chat-room2-list">

								</ol>
							</div>
							<p id="all-chat-room2-bar" class="hidden chat-bar"></p>

							<input type="text" class="chat-message-input all-chat-message-input">
						</div>


						<div id="room-chat-in-game2" class="tab-pane fade in full-height">
							<div class="chat-window" id="room-chat-room2">
								<ol class="chat-list room-chat-list" id="room-chat-room2-list">

								</ol>
							</div>

							<p id="room-chat-room2-bar" class="hidden chat-bar"></p>
							<input type="text" class="room-chat-message-input chat-message-input">

						</div>

						<div id="vh2" class="tab-pane fade in full-height">
							<div class="tab-window-full-bottom">
								<!-- <h3><u>Vote History</u></h3> -->
								<table>
									<tbody id="voteHistoryTable" class="voteHistoryTableClass">

									</tbody>
								</table>
                                <br>

                                <span class="cardHistoryClass">
                                
                                </span>

                                <br>

								<ul>
									<table>
										<tbody id="voteHistoryTable">
											<tr><td class="VHleader"></td><td>Leader</td></tr>
											<tr><td><i class="glyphicon glyphicon-ok glyphicon-dark-white"></i></td><td>On mission team</td></tr>
											<tr><td><i class="glyphicon glyphicon-question-sign glyphicon-dark-white"></i></td><td>Investigator</td></tr>
											<tr><td><i class="glyphicon glyphicon-wrench glyphicon-dark-white"></i></td><td>Excalibur</td></tr>
											<tr><td><i class="glyphicon glyphicon-resize-horizontal glyphicon-dark-white"></i></td><td>Excalibured</td></tr>
											<tr><td class="VHapprove"></td><td>Approved vote</td></tr>
											<tr><td class="VHreject"></td><td>Rejected vote</td></tr>
										</tbody>
									</table>
								</ul>
							</div>
						</div>

						<div id="misc2" class="tab-pane fade in full-height active">
							<div class="tab-window-full-bottom">

									<label>Mute spectators <input type="checkbox" class="muteSpecs"></label>
									<br>
									<label>Mute join/leave messages <input type="checkbox" class="mutejoinleave"></label>
									<hr>
									<label>Set all highlight colors to yellow <input type="checkbox" class="setHighlightColorsToYellow"></label>
								<br>
								<br>
								<button id="playerHighlightColourButton2" class="">Click to change highlight colour</button>
								<script>
									$("#playerHighlightColourButton2").on("click", function(){
										$("#playerHighlightColourBoxes2").toggleClass("hidden");
									});
								</script>
								
								<span id="playerHighlightColourBoxes2" class="hidden">
									<h5>0 starts at the top, and increases anti-clockwise.</h5>

									Player 0: <button id="player0HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'0'}" style="width:20px; height:20px;"></button>
									<br>
									Player 1: <button id="player1HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'1'}" style="width:20px; height:20px;"></button>
									<br>
									Player 2: <button id="player2HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'2'}" style="width:20px; height:20px;"></button>
									<br>
									Player 3: <button id="player3HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'3'}" style="width:20px; height:20px;"></button>
									<br>
									Player 4: <button id="player4HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'4'}" style="width:20px; height:20px;"></button>
									<br>
									Player 5: <button id="player5HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'5'}" style="width:20px; height:20px;"></button>
									<br>
									Player 6: <button id="player6HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'6'}" style="width:20px; height:20px;"></button>
									<br>
									Player 7: <button id="player7HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'7'}" style="width:20px; height:20px;"></button>
									<br>
									Player 8: <button id="player8HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'8'}" style="width:20px; height:20px;"></button>
									<br>
									Player 9: <button id="player9HighlightColour2" class="jscolor {valueElement:null,value:'66ccff', width:101, padding:0, shadow:false,
									borderWidth:0, backgroundColor:'transparent', insetColor:'#000', onFineChange:'update(this)', playerColourID:'9'}" style="width:20px; height:20px;"></button>
								</span>
								
								<br>
								<br>
								<button id="removeHighlight2" onclick="unhighlightAllChat()">Unhighlight all chat</button>
								<br>
								<br>
								<br>
								
								<strong><p>Spectators:</p></strong>

								<table id="spectators-table" class="table table-bordered table-striped lobby-table">	
									<tbody>

									</tbody>
								</table>

								<p><strong>Online players (<span class="player-count"></span>):</strong></p>
								<table id="current-players-table" class="table table-bordered table-striped lobby-table">	
									<tbody>

									</tbody>
								</table>
							
							</div>

						</div>


					</div>
				</div>



			</div>
		</div>

	</div>



	<!-- Modal for game options-->
	<div id="roleOptionsModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title">Game options!</h2>
				</div>
				<div class="modal-body">
					<h4>Select the roles/items you would like in the game.</h4>
					<h6>Default roles have been pre-selected.</h6>

					<label>Game mode:</label>
					<select class="gameModeSelect" name="gameMode">
						<!-- The usual values look like the below. This part is inserted dynamically in lobby.js -->
						<!-- <option value="avalon">Avalon</option> -->
						<!-- <option value="hunter">Hunter</option> -->
						<!-- <option value="original">Original</option> -->
					</select>
					<br>

					<div class="avalonSelectCheck" style="display:block;">
						<label>Type:</label>
						<select class="rankedSelect" name="ranked">
							<option value="ranked">Ranked (Beta)</option> 
							<option value="unranked">Unranked</option>
						</select>
					</div>


					<div class="row">
						<div class="btn-group-vertical col-sm-4 col-xs-12" data-toggle="buttons" id="rolesCardsButtonGroup">
						</div>

						<div class="btn-group-vertical col-sm-8 col-xs-12" data-toggle="buttons" id="rolesCardsButtonGroupDescription">
						</div>
					</div>

					<br>

					<label>Max number of players:</label>
					<select class="maxNumPlayers" name="maxNumPlayers">
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10" selected="selected">10</option>
					</select>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>



	<!-- Modal for kicking players-->
	<div id="kickModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title">Kick players</h2>
				</div>
				<div class="modal-body" id="kickModalContent">

					

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal" id="kickButton">Kick</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>




	<!-- Modal for Moderators-->
	<div id="modModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title" style="color: red; font-weight: 700;">Ban menu</h2>
				</div>
				
				<div style="width: 75%; margin: auto;">
				<br>
					<form action="/mod/ban" method="POST" id="modactionform">
						<div class="form-group">
							<label for="banPlayerUsername">Username of player to ban: </label>
							<input name="banPlayerUsername" type="text" class="form-control" id="banPlayerUsername" placeholder="Username" required>
						</div>

						<div class="form-group">
							<h3 style="font-weight: 700; display: inline;">Type of ban: </h3><h6 style="display: inline;">Note: If IP ban is selected, all IPs the user has ever logged onto will be banned for the specified duration.</h6>
							<br>
							<label><input type="checkbox" name="userBanCheckbox"> User ban</label> <!--! fill in the id/data-->
							<br>
							<label><input type="checkbox" name="IPBanCheckbox"> Full IP ban</label>
							<br>
							<label><input type="checkbox" name="SingleIPBanCheckbox"> Last IP ban (Single)</label>
						</div>

						<div class="form-group">
							<label for="reason">Reason: </label>
							<br>
							<select name="reason" class="form-control" id="typeofmodaction" required>
								<option value="">Please select an option</option>
								<option value="abusive">Abusive</option>
								<option value="griefing">Intentional throwing/griefing</option>
								<option value="afk">Inactivity (AFK)</option>
								<option value="spam">Spam</option>
								<option value="cheating">Cheating (multiaccounting or talking outside of game)</option>
								<option value="other">Other </option>
							</select>
						</div>

						<div class="form-group">
							<h3 style="font-weight: 700; display: inline;">Duration: </h3><h6 style="display: inline;">Note: If perma ban is selected, the number given is not used.</h6>
							<div class="input-group" >
								<input type="text" class="" id="duration" name="duration" placeholder="<number>" required>
								<select name="duration_units" class="" id="durationofmodaction" required>
									<option value="">None</option>
									<option value="hrs">hrs</option>
									<option value="days">days</option>
									<option value="months">months</option>
									<option value="years">years</option>
									<option value="permaban">permaban</option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label for="descriptionByMod">Description: <h6 style="display: inline;">The user being banned will see this message. This message will also appear in the moderator logs.</h6></label>
							<br>
							<textarea name="descriptionByMod" class="form-control" style="width: 100%;" id="descriptionByMod" required></textarea>
						</div>

						<!--<input type="submit" value="Slam the hammer of judgement!" class="btn btn-danger" id="modActionCloseButton">-->
						<button id="modActionCloseButton" type="button" class="btn btn-danger">Submit</button>
						<br>
						<br>
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>


	<!-- newRoomModal -->
	<div id="newRoomModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title">New Room options!</h2>
				</div>
				<div class="modal-body">
					<h4>Select your room options!</h4>
					<h6>Default settings have been pre-selected.</h6>
					
					<label>Game mode:</label>
					<select class="gameModeSelect" name="gameMode">
						<!-- The usual values look like the below. This part is inserted dynamically in lobby.js -->
						<!-- <option value="avalon">Avalon</option> -->
						<!-- <option value="hunter">Hunter</option> -->
						<!-- <option value="original">Original</option> -->
					</select>
					<br>
					
					<div class="avalonSelectCheck" style="display:block;">
						<label>Type:</label>
						<select class="rankedSelect" name="ranked">
							<option value="ranked">Ranked (Beta)</option> 
							<option value="unranked">Unranked</option>
						</select>
					</div>

					<label>Max number of players:</label>
					<select class="maxNumPlayers soflow" name="maxNumPlayers">
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10" selected="selected">10</option>
					</select>
					<br>
					<label>Password: <input type="text" name="newRoomPassword" id="newRoomPassword" autocapitalize="off" autocomplete="off" autocorrect="off" placeholder="(Optional)" style=""></label>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				
					<button id="createNewRoomButton" type="button" class="btn btn-success" data-dismiss="modal">Create</button>
				</div>
			</div>
		</div>
	</div>





	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>

	<script>

	</script>


	<script type="text/javascript" src="<%-getVersionedPath('/libraries/jquery-ui-1.12.1/jquery-ui.min.js')%>"></script>
	<script type="text/javascript" src="<%-getVersionedPath('/libraries/axios.min.js')%>"></script>

	<script type="text/javascript" src="<%-getVersionedPath('/scripts/lobby/icons.js')%>"></script>
	<script type="text/javascript" src="<%-getVersionedPath('/scripts/lobby/pics.js')%>"></script>

	<!--<script type="text/javascript" src="<%-getVersionedPath('/scripts/lobby9.js')%>"></script>-->
	<script type="text/javascript" src="<%-getVersionedPath('/scripts/lobby9.js')%>"></script>

	<script type="text/javascript" src="<%-getVersionedPath('/scripts/lobby/autocomplete.js')%>"></script>
	<script type="text/javascript" src="<%-getVersionedPath('/scripts/lobby/statusBarHeight.js')%>"></script>
	<script type="text/javascript" src="<%-getVersionedPath('/scripts/lobby/chat4.js')%>"></script>
	<script type="text/javascript" src="<%-getVersionedPath('/scripts/lobby/options.js')%>"></script>
	<script type="text/javascript" src="<%-getVersionedPath('/scripts/lobby/buttonEventListeners2.js')%>"></script>

	<script type="text/javascript" src="<%-getVersionedPath('/scripts/lobby/sockets/sockets4.js')%>"></script>
	<script type="text/javascript" src="<%-getVersionedPath('/scripts/lobby/sockets/commands2.js')%>"></script>
	<script type="text/javascript" src="<%-getVersionedPath('/scripts/lobby/sockets/myNotifications.js')%>"></script>
	<script type="text/javascript" src="<%-getVersionedPath('/scripts/lobby/sockets/game.js')%>"></script>
	
	<script type="text/javascript" src="<%-getVersionedPath('/scripts/lobby/publicData/avalon.js')%>"></script>
	<script type="text/javascript" src="<%-getVersionedPath('/scripts/lobby/helper.js')%>"></script>


	<% include partials/footer%>