<% include ../partials/header%>
<% include ../partials/forumInclude %>


<%   var bg_converter = {};                    %>
<%   bg_converter["avalon"] = "success";       %>
<%   bg_converter["offTopic"] = "info";        %>
<%   bg_converter["suggestion"] = "warning";   %>
<%   bg_converter["bug"] = "danger";           %>

<link rel="stylesheet" type="text/css" href="/stylesheets/forum/index.css">

<div class="container">
    <div style="text-align: center;">
        <h1>Forums</h1>


        <% if(locals.mod && mod === true){ %>
            <button class="btn btn-info" onclick="toggleDeletedPosts()">Mod see deleted posts</button>
        <br>
        <br>
        <% } %>

        <% if(typeof activeCategory !== 'undefined' && activeCategory === "avalon"){ %>
            <a type="button" class="btn btn-success active" href="/forum/page/1">Avalon</a>
        <% } else { %>
            <a type="button" class="btn btn-success" href="/forum/page/avalon/1">Avalon</a>
        <% } %>

        <% if(typeof activeCategory !== 'undefined' && activeCategory === "offTopic"){ %>
            <a type="button" class="btn btn-info active" href="/forum/page/1">Off-topic</a>
        <% } else { %>
            <a type="button" class="btn btn-info" href="/forum/page/offTopic/1">Off-topic</a>
        <% } %>

        <% if(typeof activeCategory !== 'undefined' && activeCategory === "suggestion"){ %>
        <a type="button" class="btn btn-warning active" href="/forum/page/1">Suggestions</a>
        <% } else { %>
        <a type="button" class="btn btn-warning" href="/forum/page/suggestion/1">Suggestions</a>
        <% } %>

        <% if(typeof activeCategory !== 'undefined' && activeCategory === "bug"){ %>
        <a type="button" class="btn btn-danger active" href="/forum/page/1">Bugs</a>
        <% } else { %>
        <a type="button" class="btn btn-danger" href="/forum/page/bug/1">Bugs</a>
        <% } %>

        <% if(typeof activeCategory !== 'undefined' && activeCategory === "my_posts"){ %>
        <a type="button" class="btn btn-default active" href="/forum/page/1">My Posts</a>
        <% } else { %>
        <a type="button" class="btn btn-default" href="/forum/page/my_posts/1">My Posts</a>
        <% } %>

        <br>
        <br>

        <a href="/forum/new"><button type="button" class="btn btn-success" id="createButton">Create</button></a>
        
    </div>


    <br>

    <% if(pageNum == 1 && allPinnedThreads.length !== 0) { %> 

        <div class="panel panel-success">
            <div class="panel-heading">Pinned threads</div>
            <div class="panel-body">


                <div class="container-fluid">
                    <ol class="forumsList">

                        <%allPinnedThreads.forEach(function(forumThread){ %>
                            <%/* if the forum thread doesnt have a seen variable, or the viewing user is not on the seen list */ %>
                            <%if(!forumThread.seenUsers || forumThread.seenUsers.indexOf(currentUser.username.toLowerCase() ) === -1 ){%>
                                <li class="post-unseen">
                            <% } else{ %>
                                <li>
                            <% } %>
                                <a href="/forum/show/<%=forumThread._id%>">
                                    <div class="bg-<%=bg_converter[forumThread.category]%> discussionContainer">
                                        <div class="discussionTitleBox">
                                            <div class="discussionTitle">
                                                #<%=forumThread.numberId%>: <%=forumThread.title%>
                                            </div>
                                            <p class="discussionDetail">
                                                By: <%=forumThread.author.username%>, <%=forumThread.timeCreated.toDateString()%>
                                            </p>
                                        </div>
                                        <div class="discussionRight">
                                            <div class="likes">
                                                <span class="glyphicon glyphicon-comment"></span>
                                                <span><%=forumThread.numOfComments%></span>
                                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                                <span> 
                                                <%=forumThread.likes%>
                                                </span>
                                                <span class="glyphicon glyphicon-time"></span>
                                                <span><%=forumThread.timeSinceString%> </span>
                                            </div>
                                            <div>
                                            <% if(forumThread.whoLastEdit) { %>
                                                <span><span class="glyphicon glyphicon-edit"></span> <%=forumThread.whoLastEdit%></span>
                                            <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        <%})%> 

                    </ol>
                </div>
            </div>
        </div>
    <% } %>



    <div class="panel panel-default">
        <div class="panel-heading">Recent new threads</div>
        <div class="panel-body">


            <div class="container-fluid">
                <ol class="forumsList">
                    <%allForumThreads.forEach(function(forumThread){ %>

                        <% var classesToAdd = "";%>
                        <%if(!forumThread.seenUsers || forumThread.seenUsers.indexOf(currentUser.username.toLowerCase() ) === -1 ){
                            classesToAdd += "post-unseen ";
                         }

                        if(forumThread.disabled && forumThread.disabled === true){ 
                            classesToAdd += "hidden disabled "
                        }%>
                        <li class="<%=classesToAdd%>">
                            <a href="/forum/show/<%=forumThread._id%>">
                                <div class="bg-<%=bg_converter[forumThread.category]%> discussionContainer">
                                    <div class="discussionTitleBox">
                                        <div class="discussionTitle">
                                            <% if(forumThread.disabled === true){ %>
                                                <span style="color: red;" class="glyphicon glyphicon-ban-circle"></span>
                                            <% } %>
                                            #<%=forumThread.numberId%>: <%=forumThread.title%>
                                        </div>
                                        <p class="discussionDetail">
                                        By: <%=forumThread.author.username%>, <%=forumThread.timeCreated.toDateString()%>
                                        </p>
                                    </div>
                                    <div class="discussionRight">
                                        <div class="likes">
                                            <span>
                                                <span class="glyphicon glyphicon-comment"></span>
                                                <span><%=forumThread.numOfComments%></span>
                                            </span>
                                            <span>
                                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                                <span> 
                                                    <%=forumThread.likes%>
                                                </span>
                                            </span>
                                            <span>
                                                <span class="glyphicon glyphicon-time"></span>
                                                <span><%=forumThread.timeSinceString%> </span>
                                            </span>
                                        </div>
                                        <div>
                                        <% if(forumThread.whoLastEdit) { %>
                                            <span><span class="glyphicon glyphicon-edit"></span> <%=forumThread.whoLastEdit%></span>
                                        <% } %>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                    <%})%> 
                </ol>
            </div>



        </div>
    </div>

    <% var categoryAdd; %>

    <% if(typeof activeCategory !== 'undefined'){ 
        categoryAdd = "/" + activeCategory;
     } else{ 
        categoryAdd = "";
     } %>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
            <% if(pageNum-1 == 0) {%>
                <% var str = "/forum/page" + categoryAdd + "/1"; %>
                <a href=<%=str%> aria-label="Previous">
            <% } else{ %>
                <% var str = "/forum/page" + categoryAdd + "/" + (pageNum-1); %>
            
                <a href=<%=str%> aria-label="Previous">
            <% } %>
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <% var NUM_OF_PAGES_TO_SHOW_ON_PAGER = 5; %>
            <% var HALF_NUM_OF_PAGES_TO_SHOW_ON_PAGER = Math.floor(NUM_OF_PAGES_TO_SHOW_ON_PAGER/2); %>
            
            <% var startingPageNum = pageNum - HALF_NUM_OF_PAGES_TO_SHOW_ON_PAGER; %>
            <% if(startingPageNum < 1) {startingPageNum = 1;} %>
            

            <% for(var i = startingPageNum; i < NUM_OF_PAGES_TO_SHOW_ON_PAGER + startingPageNum; i++){ %>
                <% if(i == pageNum){ %>
                    <li class="active">
                <% } else { %>
                    <li>
                <% } %>
                    <a href="/forum/page<%=categoryAdd%>/<%=i%>"><%=i%></a>
                </li>

            <% } %>
            
            <li>
                <% var str = "/forum/page" + categoryAdd + "/" + (parseInt(pageNum)+1); %>
            
                <a href=<%=str%> aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
    

<% if(locals.mod && mod === true){ %>
<script>
function toggleDeletedPosts(){

    $(".forumsList .disabled").toggleClass("unhiddenDisabled");
    $(".forumsList .disabled").toggleClass("hidden");
}


</script>
<% } %>



<% include ../partials/footer%>