<% include ../partials/header%>


<%   var bg_converter = {};                      %>
<%   bg_converter["avalon"] = "success";       %>
<%   bg_converter["off-topic"] = "info";       %>
<%   bg_converter["suggestion"] = "warning";   %>
<%   bg_converter["bug"] = "danger";           %>

    <link rel="stylesheet" type="text/css" href="stylesheets/forum.css">

    <div class="container">
        <div style="text-align: center;">
            <h1>Forums</h1>
            <button type="button" class="btn btn-success">Avalon</button>
            <button type="button" class="btn btn-info">Off-topic</button>
            <button type="button" class="btn btn-warning">Suggestions</button>
            <button type="button" class="btn btn-danger">Bugs</button>

            <br>
            <br>

            <a href="/forum/new"><button type="button" class="btn btn-success" id="createButton">Create</button></a>
            
        </div>


        <br>

        <div class="panel panel-success">
            <div class="panel-heading">Pinned threads</div>
            <div class="panel-body">


                <div class="container-fluid">
                    <ol>
                        <li>
                            <div class="bg-warning discussionContainer">
                                <div class="discussionTitleBox">
                                    <div class="discussionTitle">
                                        #1: Welcome to the forums! Please read this before posting.
                                    </div>
                                    <p class="discussionDetail">
                                        By: ProNub, 08-03-2018
                                    </p>
                                </div>
                                <div class="discussionRight">
                                    <div class="likes">
                                        <span class="glyphicon glyphicon-comment"></span>
                                        <span>30 </span>
                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                        <span>
                                            11
                                        </span>
                                        <span class="glyphicon glyphicon-time"></span>
                                        <span>8h </span>
                                    </div>



                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="bg-info discussionContainer">
                                <div class="discussionTitleBox">
                                    <div class="discussionTitle">
                                        #2: Is Merlin broken!?!?
                                    </div>
                                    <p class="discussionDetail">
                                        By: ProNub, 08-03-2018
                                    </p>
                                </div>
                                <div class="discussionRight">
                                    <div class="likes">
                                        <span class="glyphicon glyphicon-comment"></span>
                                        <span>15</span>
                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                        <span>
                                            11
                                        </span>
                                        <span class="glyphicon glyphicon-time"></span>
                                        <span>11h </span>
                                    </div>



                                </div>
                            </div>
                        </li>

                    </ol>
                </div>



            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">Recent new threads</div>
            <div class="panel-body">


                <div class="container-fluid">
                    <ol>
                        <%allForumThreads.forEach(function(forumThread){ %>
                            <li>
                                <div class="bg-<%=bg_converter[forumThread.category]%> discussionContainer">
                                    <div class="discussionTitleBox">
                                        <div class="discussionTitle">
                                            <%=forumThread.title%>
                                        </div>
                                        <p class="discussionDetail">
                                            By: <%=forumThread.author.username%>, <%=forumThread.timeCreated.toDateString()%>
                                        </p>
                                    </div>
                                    <div class="discussionRight">
                                        <div class="likes">
                                            <span class="glyphicon glyphicon-comment"></span>
                                            <span><%=forumThread.numOfComments%></span>
                                            <span class="glyphicon glyphicon-thumbs-up"></span>
                                            <span> 
                                              <%=forumThread.likes%>
                                            </span>
                                            <span class="glyphicon glyphicon-time"></span>
                                            <span><%=forumThread.hoursSinceLastEdit%>h </span>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        <%})%> 
                    </ol>
                </div>



            </div>
        </div>



        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <span>1</span>
                    </a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>



        <% include ../partials/footer%>