<% include ../partials/header%>

<link rel="stylesheet" type="text/css" href="/stylesheets/forum/show.css">


<%   var bg_converter = {};                    %>
<%   bg_converter["avalon"] = "success";       %>
<%   bg_converter["offTopic"] = "info";        %>
<%   bg_converter["suggestion"] = "warning";   %>
<%   bg_converter["bug"] = "danger";           %>


<div class="myContainer">

    <button id="backButton" class="btn btn-warning" onclick="goBack()">Back</button>
    <br>
    <br>


    <div class="postContainer bg-<%=bg_converter[forumThread.category]%>">

        <h2><%=forumThread.title%></h2>


        <p>By: <%=forumThread.author.username%> | <%=forumThread.timeCreated.toLocaleDateString();%>
        
        <span class="pull-right">
                <span class="glyphicon glyphicon-comment"></span>
                <span><%=forumThread.numOfComments%></span>
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <span> <%=forumThread.likes%></span>
                <span class="glyphicon glyphicon-time"></span>
                <span><%=forumThread.timeSinceString%></span>
        </span></p>

        
    </div>

    <div class="descriptionContainer">
        <p>
            <%=forumThread.description%>
            <br>
            

            <% if(forumThread.edited === true){ %>
                <br>
                [Edited]
            <% } %>

            <% if(currentUser && forumThread.author.id && forumThread.author.id.equals(currentUser.id)){ %>
                <br>
                <div class="editForumThreadButtons">
                    <a class="btn btn-warning" href="/forum/<%=forumThread._id%>/edit">Edit</a>

                    <form class="delete-form" action="/forum/<%=forumThread._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </div>
            <%}%>
                    

        </p>
    </div>



    <hr>



    <div class="commentsContainer">
        <h3>Comments: </h3>

        <%forumThread.comments.forEach(function(comment){ %>
        <p><strong><%=comment.author.username%></strong> <span class="timeSince"><%=comment.timeSinceString%> ago</span></p>
            <%=comment.text%>
        <%})%>
    </div>
</div>






<script>
    function goBack() {
        window.history.back();
    }
</script>







<% include ../partials/footer%>