<% include ../partials/header%>

<link rel="stylesheet" type="text/css" href="/stylesheets/forum/show.css">


<%   var bg_converter = {};                    %>
<%   bg_converter["avalon"] = "success";       %>
<%   bg_converter["offTopic"] = "info";        %>
<%   bg_converter["suggestion"] = "warning";   %>
<%   bg_converter["bug"] = "danger";           %>


<div class="myContainer">
    <div class="postContainer bg-<%=bg_converter[forumThread.category]%>">

        <h2><%=forumThread.title%></h2>


        <p>By: <%=forumThread.author.username%>, <%=forumThread.timeSinceString%></p>

        
    </div>

    <div class="descriptionContainer">
        <p>
            <%=forumThread.description%>
        </p>
    </div>



    <hr>



    <div class="commentsContainer">
        <%forumThread.comments.forEach(function(comment){ %>
            <%=comment%>
            
        <%})%>
    </div>
</div>














<% include ../partials/footer%>