<% include ../partials/header%>

<link rel="stylesheet" type="text/css" href="/stylesheets/forum/show.css">

<% include ../partials/forumInclude%>
                                                

<%   var bg_converter = {};                    %>
<%   bg_converter["avalon"] = "success";       %>
<%   bg_converter["offTopic"] = "info";        %>
<%   bg_converter["suggestion"] = "warning";   %>
<%   bg_converter["bug"] = "danger";           %>


<div class="myForumContainer" id="<%=forumThread.id%>">

    <button id="backButton" class="btn btn-warning" onclick="goBack()">Back</button>
    <% if(locals.mod){ %>
        <!--<button id="backButton" class="btn btn-info pull-right" onclick="toggleDeletedPosts()">Mod see deleted</button><br><br>-->
        <button id="backButton" class="btn btn-info pull-right" onclick="toggleModOptions()">Mod Actions</button>
    <% } %>

    <br>
    <br>

    <div class="postContainer bg-<%=bg_converter[forumThread.category]%>">

        <h2><%=forumThread.title%></h2>


        <p>By: <%=forumThread.author.username%> | <%=forumThread.timeCreated.toLocaleDateString();%>
        
        <span class="pull-right">
                <span class="glyphicon glyphicon-comment"></span>
                <span><%=forumThread.numOfComments%></span>
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <span id=<%=forumThread._id  + "likes"%>> <%=forumThread.likes%></span>
                <span class="glyphicon glyphicon-time"></span>
                <span><%=forumThread.timeSinceString%></span>
        </span></p>
    </div>

    <div class="descriptionContainer">
        <div>
            <div class="text">
            <%-forumThread.description%>
            </div>
            <br>
            
            <% if(forumThread.edited === true){ %>
                <br>
                [Edited]
            <% } %>

            <p class="commentOptions">
                <a class="like" style="cursor: pointer" idOfElement=<%=forumThread._id%> idOfForum=<%=forumThread._id%> typeofelement='forum'>
                    <%               
                    var isInside = false;
                        Object.keys(idsOfLikedPosts).forEach(function(key) {
                            if (idsOfLikedPosts[key].toString().replace(" ", "") == forumThread._id.toString().replace(" ", "")) {
                                isInside = true;
                            }
                        });
                    %>

                    <% if(!isInside){ %>
                        Like
                    <% } else { %>
                        Unlike
                    <% } %>
                </a>
            </p>
            


            <% if(currentUser && forumThread.author.id && forumThread.author.id.equals(currentUser.id)){ %>
                <br>
                <div class="editForumThreadButtons">
                    <a class="btn btn-warning" href="/forum/<%=forumThread._id%>/edit">Edit</a>
                    <a class="btn btn-danger" onclick="deleteFunction()">
                    
                    DELETE
                    
                        <script>
                            var postId = "<%=forumThread._id%>";

                            function deleteFunction(){
                                swal({
                                    title: "Are you sure you want to delete?",
                                    text: "All comments and replies will also be deleted.",
                                    type: "warning",
                                    
                                    showCancelButton: true,
                                    reverseButtons: true
                                })
                                .then((result) => {

                                    if (result.value) {
                                        $.ajax({
                                            type: "DELETE",
                                            url: "/forum/deleteForumThread/" + postId,
                                            // data: "name=someValue",
                                        });
                                        
                                        swal({
                                            title: "Your thread has been deleted.",
                                            type: "success"
                                        }).then(function(){
                                            window.location.replace("/forum");
                                        });

                                    } else {
                                    swal({
                                        title: "Nothing was deleted.",
                                        type: "info"
                                    });
                                    }
                                });
                            }
                        </script>
                    
                    </a>
                </div>
            <%}%>


            <% if(locals.mod){ %>
                <br>
                <a class="btn btn-danger btn-sm modButton hidden" idOfElement="<%=forumThread._id%>" typeOfElement="forum" authorId="<%=forumThread.author.id%>"  authorUsername="<%=forumThread.author.username%>">Mod Remove</a>
                <a id="pinButton" class="btn btn-success btn-sm modButtonPin hidden" idOfElement="<%=forumThread._id%>" typeOfElement="forum" authorId="<%=forumThread.author.id%>"  authorUsername="<%=forumThread.author.username%>">Pin thread</a>
            <% } %>

            

        </div>
    </div>



    <hr>



    <div class="commentsContainer">
        <h3>Comments: </h3>
        <button class="btn btn-success" onclick="showAddComment()">Add a comment</button>
        <br>
        <br>

        <div class="addCommentDiv">
            <form class="comment-form" action="/forum/<%=forumThread._id%>/comment" method="POST">
                <div class="form-group">
                    <div id="panel1">

                    </div>

                    <div>
                        <textarea type="text" placeholder="text" name="comment[text]" id="commentTextArea" rows="5" class="mainComment" style="width: 1;"></textarea>
                    </div>
                   
                    
                </div>

                <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button></div>
            </form>

            <br>
            <br>
        </div>

        <!-- COMMENTS -->
        <div class="comments">

            <%forumThread.comments.forEach(function(comment){ %>
                <%
                    var classesToAdd = "";
                    if(!comment.seenUsers || comment.seenUsers.indexOf(currentUser.username.toLowerCase()) === -1){
                        classesToAdd += "post-unseen ";
                    }
                %>                

                <div class="individualMainComment" id=<%=comment.id%>>

           
                
                    <div class="individualComment <%=classesToAdd%>">
                        <p>
                            <% if(comment.disabled && comment.disabled === true){ %>
                                <span style="color: red;" class="glyphicon glyphicon-ban-circle"></span>                            
                                <strong>*Deleted*</strong>                       
                            <% } else { %>
                                <strong><%=comment.author.username%></strong>     
                            <% } %>
                            <% if(comment.disabled && comment.disabled === true && locals.mod && mod === true){ %>
                                <strong><%=comment.author.username%> (only mod see)</strong>     
                            <% } %>
                            
                            <span class="timeSince"><%=comment.timeSinceString%> ago</span>
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <span id=<%=comment._id + "likes"%>> <%=comment.likes%></span>
                        
                        </p>

                        

                        <div class="mainCommentText text">
                            <%-comment.text%>
                        </div>

                        <% if(comment.disabled && comment.disabled === true && locals.mod && mod === true){ %>
                            <div style="color: gray">
                                Old deleted text: (only mods see :P) <%-comment.oldText%>
                            </div>
                        <% } %>

                        <% if(comment.edited === true){ %>
                            [Edited]
                        <% } %>
                        <p class="commentOptions">
                        
                            <a class="reply" style="cursor: pointer">Reply</a>
                            <a class="like" style="cursor: pointer" idOfElement=<%=comment._id%> idofcomment=<%=comment._id%> idOfForum=<%=forumThread._id%> typeofelement='comment'>
                                <%               
                                var isInside = false;
                                    Object.keys(idsOfLikedPosts).forEach(function(key) {
                                        if (idsOfLikedPosts[key].toString().replace(" ", "") == comment._id.toString().replace(" ", "")) {
                                            isInside = true;
                                        }
                                    });
                                %>
                                
                                <% if(!isInside){ %>
                                    Like
                                <% } else { %>
                                    Unlike
                                <% } %>
                            </a>

                            <% if(currentUser && comment.author.id && comment.author.id.equals(currentUser.id)){ %>
                                <a class="edit" href="/forum/<%=forumThread._id%>/<%=comment._id%>/edit">Edit</a>

                                <a class="deleteComment" style="cursor: pointer" linkToDelete="/forum/deleteComment/<%=forumThread._id%>/<%=comment._id%>">
                                Remove
                                </a>
                            <% } %>

                            <% if(locals.mod){ %>
                                <a class="btn btn-danger btn-sm modButton hidden" idOfElement="<%=comment._id%>" typeOfElement="comment" authorId="<%=comment.author.id%>" authorUsername="<%=comment.author.username%>">Mod Remove</a>
                            <% } %>
                        
                        </p>

                        <div class="mainCommentEditButtons hidden">
                            <a class="btn btn-default btn-sm">Cancel</a>
                            <a class="btn btn-primary btn-sm">Submit</a>
                        </div>

                        <!-- Reply box for main comment -->
                        <div class="replyBox hidden">
                            <form class="comment-form" action="/forum/<%=forumThread._id%>/<%=comment._id%>" method="POST">
                                <div class="form-group">
                                    <textarea type="text" placeholder="text" name="comment[text]" rows="3" class="commentReply"></textarea>
                                </div>
                                <div class="form-group">
                                <button class="btn btn-sm btn-primary">Submit</button></div>
                            </form>
                            <br>
                        </div>
                    </div>

                    <!-- Replies to the main comment -->
                    <% if(comment.replies){ comment.replies.forEach(function(reply){ %>

                    <%
                        var classesToAdd = "";
                        if(!reply.seenUsers || reply.seenUsers.indexOf(currentUser.username.toLowerCase()) === -1){
                            classesToAdd += "post-unseen ";
                        }
                    %>                

                        <div class="replyToComment <%=classesToAdd%>"  id=<%=reply.id%>>
                            <p>
                                <% if(reply.disabled && reply.disabled === true){ %>
                                    <span style="color: red;" class="glyphicon glyphicon-ban-circle"></span>     
                                    <strong>*Deleted*</strong>                       
                                <% } else { %>
                                    <strong><%=reply.author.username%></strong>     
                                <% } %>
                                <% if(reply.disabled && reply.disabled === true && locals.mod && mod === true){ %>
                                    <strong><%=reply.author.username%> (only mod see)</strong>     
                                <% } %>

                                    
                                
                                <span class="timeSince"><%=reply.timeSinceString%> ago</span>
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                <span id=<%=reply._id + "likes"%>> <%=reply.likes%></span>

                                <% if(reply.replyingUsername) { %>
                                    <span class="replyingUsername"> @<%=reply.replyingUsername%></span>
                                <% } %>
                            </p>
                            
                            <div class="text">
                                <%-reply.text%> 
                            </div>

                            <% if(reply.disabled && reply.disabled === true && locals.mod && mod === true){ %>
                                <div style="color: gray">
                                    Old deleted text: (only mods see :P) <%-reply.oldText%>
                                </div>
                            <% } %>

                            <% if(reply.edited === true){ %>
                            [Edited]
                            <% } %>

                            <p class="commentOptions">
                        
                                <a class="reply" style="cursor: pointer">Reply</a>
                                <a class="like" style="cursor: pointer" idOfElement=<%=reply._id%> idOfReply=<%=reply._id%> idOfComment=<%=comment._id%> idOfForum=<%=forumThread._id%> typeofelement='reply'>
                                    <%               
                                    var isInside = false;
                                        Object.keys(idsOfLikedPosts).forEach(function(key) {
                                            if (idsOfLikedPosts[key].toString().replace(" ", "") == reply._id.toString().replace(" ", "")) {
                                                isInside = true;
                                            }
                                        });
                                    %>
                                    
                                    <% if(!isInside){ %>
                                        Like
                                    <% } else { %>
                                        Unlike
                                    <% } %>
                                </a>

                                <% if(currentUser && reply.author.id && reply.author.id.equals(currentUser.id)){ %>
                                    
                                    <a class="edit" style="cursor: pointer" href="/forum/<%=forumThread._id%>/<%=comment._id%>/<%=reply._id%>/edit">Edit</a>

                                    <a class="edit deleteCommentReply" style="cursor: pointer" linkToDelete="/forum/deleteCommentReply/<%=forumThread._id%>/<%=comment._id%>/<%=reply._id%>">
                                    Remove
                                    </a>
                                
                                <% } %>

                                <% if(locals.mod){ %>
                                    <a class="btn btn-danger btn-sm modButton hidden" idOfElement="<%=reply._id%>" typeOfElement="reply" authorId="<%=reply.author.id%>" authorUsername="<%=reply.author.username%>">Mod Remove</a>
                                <% } %>
                            </p>

                            <div class="mainCommentEditButtons hidden">
                            <a class="btn btn-default btn-sm">Cancel</a>
                            <a class="btn btn-primary btn-sm">Submit</a>
                            </div>

                            <!-- Reply box for main comment -->
                            <div class="replyBox hidden">
                                <form class="comment-form" action="/forum/<%=forumThread._id%>/<%=comment._id%>/<%=reply._id%>" method="POST">
                                    <div class="form-group">
                                        <textarea type="text" placeholder="text" name="comment[text]" rows="3" class="commentReply"></textarea>
                                    </div>
                                    <div class="form-group">
                                    <button class="btn btn-sm btn-primary">Submit</button></div>
                                </form>
                                <br>
                            </div>

                        </div>    
                    <% }); } %>
                </div>
            <%});%>
        </div>
    </div>
</div>




<!-- Modal for Moderators-->
<div id="modModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title" style="color: red; font-weight: 700;">Moderator menu. May your judgement bring peace!</h2>
            </div>
            
            <div style="width: 75%; margin: auto;">
            <br>

                <iframe name="frame" style="display: none;"></iframe>
                <form action="/" method="" target="frame" id="modactionform">
                    <div class="form-group">
                        <label for="banPlayerUsername">Username of player to modAction against: <h6 style="display: inline">(It is case sensitive, please be careful! Best to copy paste their username)</h6></label>
                        <input name="banPlayerUsername" type="text" class="form-control" id="banPlayerUsername" placeholder="Username of player to modAction against.">
                    </div>

                    <div class="form-group">
                        <label for="typeofmodaction">Type of modAction to do: </label>
                        <br>
                        <select name="typeofmodaction" class="form-control" id="typeofmodaction">
                            <option selected value="remove">Remove</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="reasonofmodaction">Reason: </label>
                        <br>
                        <select name="reasonofmodaction" class="form-control" id="typeofmodaction">
                            <option value="">Please select an option</option>
                            <option value="abusive">Abusive</option>
                            <option value="unrelated">Unrelated</option>
                            <option value="advertising">Advertising</option>
                            <option value="other">Other</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Please confirm that the following is what you want to remove:</label>
                        <div id="modActionBanningElementText" style="background-color: #cccccc; border-radius: 5px;">
                            Victor was here ;)
                        </div>
                    </div>                    

                    <div class="form-group">
                        <label for="descriptionByMod">Description: <h6 style="display: inline;">Only viewed by mods in the logs.</h6></label>
                        <br>
                        <textarea name="descriptionByMod" class="form-control" style="width: 100%;" id="descriptionByMod"></textarea>
                    </div>

                    <input class="hidden" type="text" name="typeOfForumElement" id="typeOfForumElement"></input>
                    <input class="hidden" type="text" name="idOfForum" id="idOfForum"></input>
                    <input class="hidden" type="text" name="idOfComment" id="idOfComment"></input>
                    <input class="hidden" type="text" name="idOfReply" id="idOfReply"></input>
                    <input class="hidden" type="text" name="idOfPlayerToBan" id="idOfPlayerToBan"></input>

                    <br>
                    <!--<input type="submit" value="Slam the hammer of judgement!" class="btn btn-danger" id="modActionCloseButton">-->
                    <button id="modActionCloseButton" type="button" class="btn btn-danger" >Slam the hammer of judgement!</button>
                    <br>
                    <br>
                </form>
            </div>


            <div class="modal-footer">
            
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
    





<script type="text/javascript" src="/scripts/forum/show.js"></script>


<script type="text/javascript">

    $(document).ready(function() {
        $('#commentTextArea').summernote();
        // $('.commentReply').summernote();


        <%if(locals.mod){ %>
            <%if(mod === true){ %>
                $("#modActionCloseButton").on("click", function(){
                    var data = $("#modactionform").serializeArray();

                    console.log(data);
                    for (o of data) {
                        if (o.name === "reasonofmodaction") {
                            if (o.value === "") {
                                alert("Please fill in a reason.");
                                return;
                            }
                        }
                        else if (o.name === "descriptionByMod") {
                            if (o.value === "") {
                                alert("Please fill in a short description.");
                                return;
                            }
                        }
                    }
                    
                    $.ajax({
                        type: 'POST',
                        data: data,
                                                
                        dataType:'json',
                        url: '/forum/forumBan',                      
                        success: function(data) {
                            console.log('success');  
                        },
                        error: function(error) {
                            // console.log("some error in fetching the notifications");
                            location.reload();
                        }
                    });

                    $("#modModal").modal("hide");
                });


                $("#pinButton").on("click", function(e){
                    var data = $(e.target).attr("idOfElement");
                    console.log(data);
                    
                    $.ajax({
                        type: 'POST',
                        data: data,
                        dataType:'json',
                        url: '/forum/pinThread',                      
                        success: function(data) {
                            console.log('success');
                        },
                        error: function(error) {
                            location.reload();
                        }
                    });
                });
            <% } %>                           
        <% } %>
        

    });

    function toggleModOptions(){
        $(".modButton").toggleClass("hidden");
        $(".modButtonPin").toggleClass("hidden");
    }


    $(".modButton").on("click", function(e){
        // console.log($(e.target).attr("idOfElement"));
        // console.log($(e.target).attr("typeOfElement"));
        // console.log($(e.target).attr("authorId"));
        // console.log($(e.target).attr("authorUsername"));

        var idOfElement = $(e.target).attr("idOfElement");
        var typeOfElement = $(e.target).attr("typeOfElement");
        var authorId = $(e.target).attr("authorId");
        var authorUsername = $(e.target).attr("authorUsername");

        var text = $(e.target).closest("div").find(".text")[0].innerHTML;
        console.log($(e.target).closest("div").find(".text")[0].innerHTML);

        $("#modModal").modal("show");
        $("#banPlayerUsername").val(authorUsername);
        $("#modActionBanningElementText")[0].innerHTML = text;
        $("#typeOfForumElement").val(typeOfElement);
        $("#idOfPlayerToBan").val(authorId);

        if(typeOfElement === "reply"){
            $("#idOfReply").val($($(e.target).closest(".replyToComment")).attr("id"));
            $("#idOfComment").val($($(e.target).closest(".individualMainComment")).attr("id"));
            $("#idOfForum").val($($(e.target).closest(".myForumContainer")).attr("id"));
        }
        else if(typeOfElement === "comment"){
            $("#idOfReply").val("");
            $("#idOfComment").val($($(e.target).closest(".individualMainComment")).attr("id"));
            $("#idOfForum").val($($(e.target).closest(".myForumContainer")).attr("id"));
        }
        else{
            $("#idOfReply").val("");
            $("#idOfComment").val("");
            $("#idOfForum").val($($(e.target).closest(".myForumContainer")).attr("id"));
        }


    });

</script>

<% if(locals.mod && mod === true){ %>
    <script>
        function toggleDeletedPosts(){
            $(".individualMainComment .disabled").toggleClass("unhiddenDisabled");
            $(".individualMainComment .disabled").toggleClass("hidden");
        }
    </script>
<% } %>


<% include ../partials/footer%>