<% include ../partials/header%>

<link rel="stylesheet" type="text/css" href="/stylesheets/forum/show.css">

<% include ../partials/forumInclude%>
												

<%   var bg_converter = {};                    %>
<%   bg_converter["avalon"] = "success";       %>
<%   bg_converter["offTopic"] = "info";        %>
<%   bg_converter["suggestion"] = "warning";   %>
<%   bg_converter["bug"] = "danger";           %>


<div class="myContainer">

    <button id="backButton" class="btn btn-warning" onclick="goBack()">Back</button>
    <br>
    <br>


    <div class="postContainer bg-<%=bg_converter[forumThread.category]%>">

        <h2><%=forumThread.title%></h2>


        <p>By: <%=forumThread.author.username%> | <%=forumThread.timeCreated.toLocaleDateString();%>
        
        <span class="pull-right">
                <span class="glyphicon glyphicon-comment"></span>
                <span><%=forumThread.numOfComments%></span>
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <span id=<%=forumThread._id  + "likes"%>> <%=forumThread.likes%></span>
                <span class="glyphicon glyphicon-time"></span>
                <span><%=forumThread.timeSinceString%></span>
        </span></p>
    </div>

    <div class="descriptionContainer">
        <p>
            <%-forumThread.description%>
            <br>
            
            <% if(forumThread.edited === true){ %>
                <br>
                [Edited]
            <% } %>

            <p class="commentOptions">
                <a class="like" idOfElement=<%=forumThread._id%> idOfForum=<%=forumThread._id%> typeofelement='forum'>
                    <%               
                    var isInside = false;
                        Object.keys(idsOfLikedPosts).forEach(function(key) {
                            if (idsOfLikedPosts[key].toString().replace(" ", "") == forumThread._id.toString().replace(" ", "")) {
                                isInside = true;
                            }
                        });
                    %>

                    <% if(!isInside){ %>
                        Like
                    <% } else { %>
                        Unlike
                    <% } %>
                </a>
            </p>


            <% if(currentUser && forumThread.author.id && forumThread.author.id.equals(currentUser.id)){ %>
                <br>
                <div class="editForumThreadButtons">
                    <a class="btn btn-warning" href="/forum/<%=forumThread._id%>/edit">Edit</a>
                    <a class="btn btn-danger" onclick="deleteFunction()">
                    
                    DELETE
                    
                        <script>
                            var postId = "<%=forumThread._id%>";

                            function deleteFunction(){
                                swal({
                                    title: "Are you sure you want to delete?",
                                    text: "All comments and replies will also be deleted.",
                                    icon: "warning",
                                    buttons: true,
                                    dangerMode: true,
                                })
                                .then((willDelete) => {

                                    if (willDelete) {
                                        $.ajax({
                                        type: "DELETE",
                                        url: "/forum/deleteForumThread/" + postId,
                                        // data: "name=someValue",
                                    });
                                    
                                    swal("Your thread has been deleted.").then(function(){
                                        window.location.replace("/forum");
                                    });

                                    } else {
                                    swal("Nothing was deleted.");
                                    }
                                });
                            }
                        </script>
                    
                    </a>
                </div>
            <%}%>
        </p>
    </div>



    <hr>



    <div class="commentsContainer">
        <h3>Comments: </h3>
        <button class="btn btn-success" onclick="showAddComment()">Add a comment</button>
        <br>
        <br>

        <div class="addCommentDiv">
            <form class="comment-form" action="/forum/<%=forumThread._id%>/comment" method="POST">
                <div class="form-group">
                    <div id="panel1">

                    </div>

                    <div>
                        <textarea type="text" placeholder="text" name="comment[text]" id="commentTextArea" rows="5" class="mainComment" style="width: 1;"></textarea>
                    </div>
                   
                    
                </div>

                <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button></div>
            </form>

            <br>
            <br>
        </div>

        <!-- COMMENTS -->
        <div class="comments">

            <%forumThread.comments.forEach(function(comment){ %>
                <div class="individualMainComment" id=<%=comment.id%>>
                    <div class="individualComment" >
                        <p>
                            <strong><%=comment.author.username%></strong> 
                            <span class="timeSince"><%=comment.timeSinceString%> ago</span>
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <span id=<%=comment._id + "likes"%>> <%=comment.likes%></span>
                        
                        </p>
                        <p class="mainCommentText"><%-comment.text%></p>
                        <% if(comment.edited === true){ %>
                            [Edited]
                        <% } %>
                        <p class="commentOptions">
                        
                            <a class="reply">Reply</a>
                            <a class="like" idOfElement=<%=comment._id%> idofcomment=<%=comment._id%> idOfForum=<%=forumThread._id%> typeofelement='comment'>
                                <%               
                                var isInside = false;
                                    Object.keys(idsOfLikedPosts).forEach(function(key) {
                                        if (idsOfLikedPosts[key].toString().replace(" ", "") == comment._id.toString().replace(" ", "")) {
                                            isInside = true;
                                        }
                                    });
                                %>
                                
                                <% if(!isInside){ %>
                                    Like
                                <% } else { %>
                                    Unlike
                                <% } %>
                            </a>

                            <% if(currentUser && comment.author.id && comment.author.id.equals(currentUser.id)){ %>
                                <a class="edit" href="/forum/<%=forumThread._id%>/<%=comment._id%>/edit">Edit</a>

                                <a class="deleteComment" linkToDelete="/forum/deleteComment/<%=forumThread._id%>/<%=comment._id%>">
                                Remove
                                </a>
                            <% } %>
                        
                        </p>

                        <div class="mainCommentEditButtons hidden">
                            <a class="btn btn-default btn-sm">Cancel</a>
                            <a class="btn btn-primary btn-sm">Submit</a>
                        </div>

                        <!-- Reply box for main comment -->
                        <div class="replyBox hidden">
                            <form class="comment-form" action="/forum/<%=forumThread._id%>/<%=comment._id%>" method="POST">
                                <div class="form-group">
                                    <textarea type="text" placeholder="text" name="comment[text]" rows="3" class="commentReply"></textarea>
                                </div>
                                <div class="form-group">
                                <button class="btn btn-sm btn-primary">Submit</button></div>
                            </form>
                            <br>
                        </div>
                    </div>

                    <!-- Replies to the main comment -->
                    <% if(comment.replies){ comment.replies.forEach(function(reply){ %>
                        <div class="replyToComment"  id=<%=reply.id%>>
                            <p>
                                <strong><%=reply.author.username%></strong>
                                <span class="timeSince"><%=reply.timeSinceString%> ago</span>
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                <span id=<%=reply._id + "likes"%>> <%=reply.likes%></span>

                                <% if(reply.replyingUsername) { %>
                                    <span class="replyingUsername"> @<%=reply.replyingUsername%></span>
                                <% } %>
                            </p>
                            
                            <p>
                                <%-reply.text%> 
                            </p>

                            <% if(reply.edited === true){ %>
                            [Edited]
                            <% } %>

                            <p class="commentOptions">
                        
                                <a class="reply">Reply</a>
                                <a class="like" idOfElement=<%=reply._id%> idOfReply=<%=reply._id%> idOfComment=<%=comment._id%> idOfForum=<%=forumThread._id%> typeofelement='reply'>
                                    <%               
                                    var isInside = false;
                                        Object.keys(idsOfLikedPosts).forEach(function(key) {
                                            if (idsOfLikedPosts[key].toString().replace(" ", "") == reply._id.toString().replace(" ", "")) {
                                                isInside = true;
                                            }
                                        });
                                    %>
                                    
                                    <% if(!isInside){ %>
                                        Like
                                    <% } else { %>
                                        Unlike
                                    <% } %>
                                </a>

                                <% if(currentUser && reply.author.id && reply.author.id.equals(currentUser.id)){ %>
                                    
                                    <a class="edit" href="/forum/<%=forumThread._id%>/<%=comment._id%>/<%=reply._id%>/edit">Edit</a>

                                    <a class="edit deleteCommentReply" linkToDelete="/forum/deleteCommentReply/<%=forumThread._id%>/<%=comment._id%>/<%=reply._id%>">
                                    Remove
                                    </a>
                                
                                <% } %>
                            </p>

                            <div class="mainCommentEditButtons hidden">
                            <a class="btn btn-default btn-sm">Cancel</a>
                            <a class="btn btn-primary btn-sm">Submit</a>
                            </div>

                            <!-- Reply box for main comment -->
                            <div class="replyBox hidden">
                                <form class="comment-form" action="/forum/<%=forumThread._id%>/<%=comment._id%>/<%=reply._id%>" method="POST">
                                    <div class="form-group">
                                        <textarea type="text" placeholder="text" name="comment[text]" rows="3" class="commentReply"></textarea>
                                    </div>
                                    <div class="form-group">
                                    <button class="btn btn-sm btn-primary">Submit</button></div>
                                </form>
                                <br>
                            </div>

                        </div>    
                    <% }); } %>
                </div>
            <%});%>
        </div>
    </div>
</div>






<script type="text/javascript" src="/scripts/forum/show.js"></script>


<script type="text/javascript">

    $(document).ready(function() {
        $('#commentTextArea').summernote();
        // $('.commentReply').summernote();
    });





</script>




<% include ../partials/footer%>