<% include partials/header %>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
<style>

    .myContainer {
        border-radius: 20px;
        background-color: #e8eaf6;
        margin: 0 auto;
        padding-bottom: 20px;
        color: inherit;
        width: 95%;
        font-family: roboto;
    }

    .dark .myContainer {
        background-color: #444444;
        border: 1px solid black;
    }

    .header {
        text-align: center;
        margin: 0 auto;
        padding: 20px 0;
        width: 60%;
        font-weight: 500;
    }

    .myTable {
        table-layout: fixed;
        margin: 20px auto;
        width: 90%;
    }

    .myTable th{
        background-color: #7986cb;
        color: white;
        font-weight: 500;
        height: 30px;
        overflow: hidden;
        text-transform: uppercase;
        padding: 0 10px;
    }

    .myTable td{
        border-top: 1px solid #D3D3D3;
        padding: 0 10px;
    }


    .myTable tr:hover {
    	background-color:#c5cae9;
    }

    .myTable img {
        height:50px;
        padding: 5px 0;
        object-fit: contain;
    }

    .myTable p {
        background-color: transparent !important;
        margin: 0;
        display: flex;
        height: 60px;
        justify-content: center;
        flex-direction: column;
    }

    .bio {
        width: 45%;
    }

    .cell {
        height: 60px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
/*        display: flex;
        flex-direction: column;*/
    }

    ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
    }

    h4 {
        margin: 0 0 0 5%;
        padding: 0 10px;
        color: #3f51b5;
        font-weight: 500;
    }

    .dark h4 {
        color: #7986cb;
    }

    button {
        margin: 0 0 0 5%;
    }

    /*hide games played*/
    .games {
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 

    .dark tr:hover > td > a,
    .dark tr:hover{
        color: black !important;
    }

    .dark a {
        color: #CCCCCC;
    }



@media screen and (max-width: 600px) {
    .myTable {
        font-size: 11px;
    }
    .myTable td th {
        word-wrap: break-word;
        padding: 0;
    }

    .myTable img {
        height:40px;
        padding: 0;
    }

    .cell {
        height: 60px;
        display: block;
        overflow: auto;
    }

    ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
    }

    /*hide nat*/
    .nat{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
}


</style>

<div class="myContainer">
	<h3 class="header">View our players from all over the world!</h3>
	<div class="row">
        <table class="myTable">
            <h4>Moderators</h4>
            <tr>
                <th>Username</th>
                <th>Res Avatar</th>
                <th>Spy Avatar</th>
                <th class="nat">Nationality</th>
                <th class="bio">Biography</th>
                <th class="games">#Games</th>
            </tr>
            
            <% mods.forEach(function(mod){ %>
            <tr>
                <td><a class="username" href="/profile/<%= mod.username %>" ><%= mod.username %></a></td>
                <%if (mod.avatarImgRes === null) { %>
                    <td><img src="/avatars/base-res.png"></td>
                <% } else { %>
                    <td><img src="<%= mod.avatarImgRes %>"></td>
                <% } %>
                <%if (mod.avatarImgSpy === null) { %>
                    <td><img src="/avatars/base-spy.png"></td>                
                <% } else { %>
                    <td><img src="<%= mod.avatarImgSpy %>"></td>
                <% } %>
                <%if (mod.nationality === "") { %>
                    <td class="nat">United Nations</td>
                <% } else { %>                
                    <td class="nat"><%= mod.nationality %></td>
                <% } %>
                <td class="cell"><%- mod.biography %></td>
                <td class="games"><%= mod.totalGamesPlayed %></td>
            </tr>
            <% }); %>
        </table>
    
		<table class="myTable" id="userTable">
            <h4>Players</h4>
            <tr>
                <th>Username</th>
                <th>Res Avatar</th>
                <th>Spy Avatar</th>
                <th class="nat">Nationality</th>
                <th class="bio">Biography</th>
                <th class="games">#Games</th>
            </tr>

			<% users.forEach(function(user){ %>
			<tr>
				<td><a class="username" href="/profile/<%= user.username %>" ><%= user.username %></a></td>
                <%if (user.avatarImgRes === null) { %>
                    <td><img src="/avatars/base-res.png"></td>
                <% } else { %>
				    <td><img src="<%= user.avatarImgRes %>"></td>
                <% } %>
                <%if (user.avatarImgSpy === null) { %>
                    <td><img src="/avatars/base-spy.png"></td>                
                <% } else { %>
				    <td><img src="<%= user.avatarImgSpy %>"></td>
                <% } %>
                <%if (user.nationality === "") { %>
                    <td class="nat">United Nations</td>    
                <% } else { %>
				    <td class="nat"><%= user.nationality %></td>
                <% } %>
				<td class="cell"><%- user.biography %></td>
                <td class="games"><%= user.totalGamesPlayed %></td>
            </tr>
			<% }); %>
		</table>
	</div>
</div>

<!-- show more button -->
<script type="text/javascript">
$(function() {
  /* initial variables */
  var numRows = $('#userTable').find('tr').length;
  var SHOWN = 50;
  var MORE = 500;

  /* get how many more can be shown */
  var getNumMore = function(ns) {
      var more = MORE;
      var leftOver = numRows - ns;
      if ((leftOver) < more) {
        more = leftOver;
      }
      return more;
    }
    /* how many are shown */
  var getInitialNumShown = function() {
      var shown = SHOWN;
      if (numRows < shown) {
        shown = numRows;
      }
      return shown;
    }
    /* set how many are initially shown */
  var numShown = getInitialNumShown();

  /* set the numMore if less than 20 */
  var numMore = getNumMore(numShown);

  /* set more html */
  if (numMore > 0) {
    var more_html = '<p><button id="more">Show <span style="font-weight: bold;">' + numMore + '</span> More...</button></p>';
    $('#userTable').find('tr:gt(' + (numShown - 1) + ')').hide().end().after(more_html);
  }
  $('#more').click(function() {
    /* determine how much more we should update */
    numMore = getNumMore(numShown);
    /* update num shown */
    numShown = numShown + numMore;
    $('#userTable').find('tr:lt(' + numShown + ')').show();

    /* determine if to show more and how much left over */
    numMore = getNumMore(numShown);
    if (numMore > 0) {
      $('#more span').html(numMore);
    } else {
      $('#more').remove();
    }
  });

});    
</script>

<% include partials/footer %>