<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<%- include('../partials/header') %>

<style>
    .myContainer {
        border-radius: 50px;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        margin-bottom: 30px;
        color: inherit;
        background-color: #eee;
        width:95%;
    }
    .avatarSet {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .react-multi-carousel-item:hover {
        transform: scale(1.05);
        background-color: #e0e0e0;
    }

    .react-multi-carousel-item .avatarSet {
        padding: 2em;
        cursor: pointer;
        display: block;
        text-align: center;
    }

    .react-multi-carousel-item .avatarImg {
        margin: 20px;
    }

    .avatarImg {
        width: 128px;
        height: 128px;
        margin-left: 10px;
        display: inline-block;
    }
    .scrollableWindow {
        width: 330px;
        height: 400px;
        overflow: auto;
        padding: 10px;
        background: #e5e5e5;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
    }
    .alignCenter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #approvedAvatars p {
        text-align: center;
        font-size: 23px;
    }
    #approvedAvatarsOld p {
        text-align: center;
        font-size: 23px;
    }
</style>

<div class="container myContainer">
    <div react-entrypoint id="avatarHomeDiv"><%- avatarHomeReact %></div>
</div>

<%- include('../partials/footer') %>

<script type="text/javascript" src="<%-getVersionedPath('/dist_webpack/runtime.bundle.js')%>"></script>
<script type="text/javascript" src="<%-getVersionedPath('/dist_webpack/avatarHome.bundle.js')%>"></script>
